<div class="container mt-4">
  <h1 class="text-center font-weight-bold text-white py-2 mb-4" style="background-color: #006400;">
    Editar instancia de {{data.listaSeleccionada.nombre}} con id {{data.instancia.id}}
  </h1>
  <form [formGroup]="miFormulario" role="form">
    <div *ngFor="let campo of getKeys(data.instancia)" class="form-group">
      <label [for]="campo">{{ campo | titlecase }}:</label>
      <input type="text" [formControlName]="campo" [id]="campo" class="form-control" [placeholder]="'Ingrese ' + campo" [disabled]="campo === 'id'">
    </div>
  </form>
  <button mat-button class="mt-4" (click)="EditarInstancia()" [disabled]="!miFormulario.valid">Confirmar</button>
</div>
