
<div class="modal-dialog" role="document" style="max-width: 250px;">
    <div class="modal-content border-danger">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title" id="confirmModalLabel">Confirmar Eliminación</h5>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas eliminar la instancia{{ data.instancia.id }} del movimiento {{data.listaSeleccionada.nombre}}?</p>
        <div class="form-group">
          <label for="inputEmail" class="font-weight-bold">Email del Usuario</label>
          <input type="text" class="form-control" id="inputEmail" [value]="data.emailEdit" #email readonly>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-danger mr-2" (click)="eliminarInstancia(email.value, data.listaSeleccionada.nombre, data.instancia.id)">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  </div>
