{
    "swagger": "2.0",
    "info": {
        "title": "CrmApi",
        "description": "Api de David Montero.",
        "version": "1.0.0"
    },
    "host": "beefcrmapi.com",
    "basePath": "/Api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/TraerUsuarios": {
            "get": {
                "summary": "Obtiene la lista de usuarios",
                "responses": {
                    "200": {
                        "description": "Lista de usuarios",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                }
            }
        },
        "/TraerContactos": {
            "get": {
                "summary": "Obtiene la lista de usuarios",
                "responses": {
                    "200": {
                        "description": "Lista de usuarios",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    }
                }
            }
        },
        "/getToken": {
            "post": {
                "tags": [
                    "Autenticaci\u00f3n"
                ],
                "summary": "Obtener token de acceso",
                "responses": {
                    "200": {
                        "description": "Token de acceso obtenido exitosamente",
                        "schema": {
                            "properties": {
                                "token": {
                                    "description": "Token de acceso",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/TraerClientify": {
            "get": {
                "tags": [
                    "Contactos"
                ],
                "summary": "Obtener lista de contactos de Clientify",
                "responses": {
                    "200": {
                        "description": "Lista de contactos obtenida exitosamente",
                        "schema": {
                            "type": "array",
                            "items": {
                                "properties": {
                                    "id": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "integer"
                                    },
                                    "owner": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "string"
                                    },
                                    "owner_name": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "string"
                                    },
                                    "first_name": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "string"
                                    },
                                    "last_name": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "string"
                                    },
                                    "status": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "string"
                                    },
                                    "emails": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "phones": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    },
                                    "created": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "modified": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "last_contact": {
                                        "description": "Obtiene la lista de contactos desde la API de Clientify.",
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/enviarContactoClientify": {
            "post": {
                "tags": [
                    "Contactos"
                ],
                "summary": "Enviar contacto a Clientify",
                "parameters": [
                    {
                        "name": "first_name",
                        "in": "query",
                        "description": "Nombre del contacto",
                        "type": "string"
                    },
                    {
                        "name": "last_name",
                        "in": "query",
                        "description": "Apellido del contacto",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del contacto",
                        "type": "string"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "N\u00famero de tel\u00e9fono del contacto",
                        "type": "string"
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "Estado del contacto",
                        "type": "string"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "T\u00edtulo del contacto",
                        "type": "string"
                    },
                    {
                        "name": "company",
                        "in": "query",
                        "description": "Empresa del contacto",
                        "type": "string"
                    },
                    {
                        "name": "street",
                        "in": "query",
                        "description": "Calle del contacto",
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "description": "Ciudad del contacto",
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Estado del contacto",
                        "type": "string"
                    },
                    {
                        "name": "country",
                        "in": "query",
                        "description": "Pa\u00eds del contacto",
                        "type": "string"
                    },
                    {
                        "name": "postal_code",
                        "in": "query",
                        "description": "C\u00f3digo postal del contacto",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "El contacto se ha enviado exitosamente",
                        "schema": {
                            "properties": {
                                "message": {
                                    "description": "Mensaje de confirmaci\u00f3n",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                },
                "security": [
                    {
                        "BearerAuth": []
                    }
                ]
            }
        },
        "/InsertarUsuario": {
            "post": {
                "tags": [
                    "Usuarios"
                ],
                "summary": "Insertar usuario",
                "parameters": [
                    {
                        "name": "database",
                        "in": "query",
                        "description": "Nombre de la base de datos",
                        "type": "string"
                    },
                    {
                        "name": "nombre",
                        "in": "query",
                        "description": "Nombre del usuario",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario",
                        "type": "string"
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "Nombre de usuario",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuario insertado correctamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/ModificarUsuario": {
            "post": {
                "tags": [
                    "Usuarios"
                ],
                "summary": "Modificar usuario",
                "parameters": [
                    {
                        "name": "database",
                        "in": "query",
                        "description": "Nombre de la base de datos",
                        "type": "string"
                    },
                    {
                        "name": "nombre",
                        "in": "query",
                        "description": "Nuevo nombre del usuario",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario a modificar",
                        "type": "string"
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "Nuevo nombre de usuario",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuario modificado correctamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/EliminarUsuario": {
            "post": {
                "tags": [
                    "Usuarios"
                ],
                "summary": "Eliminar usuario",
                "parameters": [
                    {
                        "name": "database",
                        "in": "query",
                        "description": "Nombre de la base de datos",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario a eliminar",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuario eliminado correctamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/obtenerMovimientos": {
            "get": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "Obtener movimientos",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Movimientos obtenidos correctamente",
                        "schema": {
                            "type": "array",
                            "items": {
                                "properties": {
                                    "id": {
                                        "description": "ID del movimiento",
                                        "type": "integer"
                                    },
                                    "nombre": {
                                        "description": "Nombre del movimiento",
                                        "type": "string"
                                    },
                                    "descripcion": {
                                        "description": "Descripci\u00f3n del movimiento",
                                        "type": "string"
                                    },
                                    "fecha": {
                                        "description": "Fecha del movimiento (formato: YYYY-MM-DD)",
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/anadirVentanaMovimientos": {
            "post": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "A\u00f1adir ventana de movimientos",
                "parameters": [
                    {
                        "name": "nombre",
                        "in": "query",
                        "description": "Nombre de la nueva ventana de movimientos",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ventana de movimientos a\u00f1adida correctamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/eliminarMovimiento": {
            "delete": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "Eliminar movimiento",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario",
                        "type": "string"
                    },
                    {
                        "name": "NombreListaMovimiento",
                        "in": "query",
                        "description": "Nombre de la lista de movimientos",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Movimiento eliminado correctamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/anadirInstanciasMovimientos": {
            "post": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "A\u00f1adir instancias de movimientos",
                "parameters": [
                    {
                        "name": "nombre",
                        "in": "query",
                        "description": "Contenido de la instancia del movimiento",
                        "type": "string"
                    },
                    {
                        "name": "lista",
                        "in": "query",
                        "description": "Nombre de la lista de movimientos",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario",
                        "type": "string"
                    },
                    {
                        "name": "TiposCampos",
                        "in": "query",
                        "description": "Tipos de campos de la instancia del movimiento",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instancias de movimientos a\u00f1adidas correctamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/EditarInstanciasMovimientos": {
            "post": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "Editar instancia de movimiento",
                "parameters": [
                    {
                        "name": "contenido",
                        "in": "query",
                        "description": "Nuevo contenido para la instancia de movimiento",
                        "type": "string"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario",
                        "type": "string"
                    },
                    {
                        "name": "nombreLista",
                        "in": "query",
                        "description": "Nombre de la lista de movimientos",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID de la instancia de movimiento a editar",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instancia de movimiento editada correctamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/EliminarInstanciasMovimientos": {
            "post": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "Eliminar instancia de movimiento",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario",
                        "type": "string"
                    },
                    {
                        "name": "nombreLista",
                        "in": "query",
                        "description": "Nombre de la lista de movimientos",
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID de la instancia de movimiento a eliminar",
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instancia de movimiento eliminada correctamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/FiltrarPorNombre": {
            "get": {
                "tags": [
                    "Usuarios"
                ],
                "summary": "Filtrar usuarios por nombre",
                "parameters": [
                    {
                        "name": "Nombre",
                        "in": "query",
                        "description": "Nombre a filtrar",
                        "type": "string"
                    },
                    {
                        "name": "Base",
                        "in": "query",
                        "description": "Nombre de la base en la que filtrar",
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Usuarios filtrados por nombre"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/CrearTipoMovimiento": {
            "post": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "Crear un nuevo tipo de movimiento",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario que crea el tipo de movimiento",
                        "type": "string"
                    },
                    {
                        "name": "nombre",
                        "in": "query",
                        "description": "Nombre del nuevo tipo de movimiento",
                        "type": "string"
                    },
                    {
                        "name": "nombresCampos",
                        "in": "query",
                        "description": "Nombres de los campos del nuevo tipo de movimiento",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "tiposCampos",
                        "in": "query",
                        "description": "Tipos de los campos del nuevo tipo de movimiento",
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "string",
                                "integer",
                                "boolean",
                                "date"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tipo de movimiento creado exitosamente"
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/CargarTipoMovimiento": {
            "get": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "Obtiene todos los tipos de movimiento",
                "responses": {
                    "200": {
                        "description": "Tipos de movimiento obtenidos exitosamente",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TipoMovimiento"
                            }
                        }
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/obtenerCamposMovimiento": {
            "get": {
                "tags": [
                    "Movimientos"
                ],
                "summary": "Obtiene los campos de un tipo de movimiento espec\u00edfico",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico del usuario",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "nombreMovimiento",
                        "in": "query",
                        "description": "Nombre del tipo de movimiento",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Campos del tipo de movimiento obtenidos exitosamente",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CampoMovimiento"
                            }
                        }
                    },
                    "400": {
                        "description": "Error al procesar la solicitud"
                    }
                }
            }
        },
        "/api/descargar-a-pdf": {
            "get": {
                "tags": [
                    "PDF"
                ],
                "summary": "Descargar datos de MongoDB como PDF",
                "description": "Genera y descarga un PDF con los datos obtenidos de una colecci\u00f3n de MongoDB basada en el email proporcionado.",
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Correo electr\u00f3nico para filtrar los datos",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "database",
                        "in": "query",
                        "description": "Nombre de la base de datos de MongoDB",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "PDF generado exitosamente",
                        "schema": {
                            "type": "string",
                            "format": "binary"
                        }
                    },
                    "400": {
                        "description": "Solicitud incorrecta",
                        "schema": {
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "example": "Invalid parameters"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Datos no encontrados",
                        "schema": {
                            "properties": {
                                "error": {
                                    "type": "string",
                                    "example": "Data not found"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "User": {
            "required": [
                "id",
                "name",
                "email"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string",
                    "format": "email"
                }
            }
        }
    }
}