
<div class="container mt-4 border border-white ">

    <div class="row  py-4" style="background-color: rgb(57, 185, 57);">
       <div class="col-sm-6">

         <h2 class="text-center font-weight-bold text-white d-flex align-items-center justify-content-center" style="font-family: 'Montserrat', sans-serif; font-size: 3rem;">
            {{Tipo}} {{TituloClientify}}
          </h2>
          

         </div>
         <div class="col-sm-6" d-flex justify-content-center>
          <app-operaciones [Tipo]="Tipo" [Clientify]="Clientify"></app-operaciones>
       </div>
    </div>
 </div>
 
